.collection{
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  &:hover{
    opacity: 0;
  }
}

.collection-image{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: none;
  opacity: 0;
  @include transition(opacity 2s);
}
.collection-image--active{
  opacity: .5;
}
