.index-block{
  width: 33.3333333333%;
  height: 50vh;
  float: left;
  text-align: center;
  position: relative;
  @include breakpoint(portrait){
    width: 50%;
    height: 0;
    padding-bottom: 50%;
  }
  @include breakpoint(mobile){
    width: 100%;
    height: 100vh;
    padding-bottom: 0;
  }
}

.index-online{
  background-color: $grey;
  color: $white;
  &:hover{
    color: $grey;
    background-color: $white;
  }
}
.index-mailing_list{
  background-color: $grey;
}

.column{
  width: calc(100% - 40px);
  margin: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.index-block-content{
  position: absolute;
  left: 0;
  right: 0;
}


.index-instagram{
  color: $grey;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 200;
}

.index-hours{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 224px;
}

.index-online{
  width: 66.666666666%;
  @include breakpoint(portrait){
    width: 50%;
  }
  @include breakpoint(mobile){
    width: 100%;
  }
}

.index-precinct-content{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  a{
    color: $blue;
    text-decoration: none;
    display: inline-block;
    position: relative;
    &::after{
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      height: 1px;
      bottom: 2px;
      background-color: $grey;
      content: " ";
    }
    &:hover{
      color: $grey;
      &::after{
        background-color: #FFF;
      }
    }
  }
}

.index .precinct-logo{
  margin-bottom: 40px;
}

.index-hours-days{
  @include smallCaps;
  display: inline-block;
  width: 110px;
  text-align: left;
  color: $grey;
}
.index-hours-times{
  display: inline-block;
  width: 106px;
  text-align: right;
}

.index-hours-dash{
  display: inline-block;
  height: 1px;
  width: 10px;
  background-color: $grey;
  vertical-align: middle;
  margin-left: 1px;
  margin-right: 1px;
}

.precinct-symbol{
  position: absolute;
  right: 15%;
  bottom: -50px;
  z-index: 99999;;
}

.index-online-text{
  @include largeSans;
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  z-index: 99999;
}

.index-online-image{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url('/assets/img/prak-bg.gif');
  background-position: center center;
  background-size: cover;
  opacity: .2;
  display: none;
}

.index-blog{
  background-color: $blue;
  text-decoration: none;
  color: $grey;
  // @include transition(background-color .1s);
  &:hover{
    background-color: $white;
    color: $blue;
  }
}
.index-blog-text{
  @include largeSans;
  text-align: center;
  left: 0;
  right: 0;

}
