.instagram{

}

.instagram-image{
  $margin: 15%;
  position: absolute;
  left: $margin;
  right: $margin;
  top: $margin;
  bottom: $margin;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  @include transition(opacity .1s ease-in);
}

.instagram-image--active{
  opacity: 1;
}

.instagram-text{
  @include smallSans;
  text-decoration: none;
  color: $grey;
  font-weight: 400;
  padding: 20px;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 5%;
}

.instagram-embed{
  $margin: 15%;
  position: absolute;
  left: $margin;
  right: $margin;
  top: 5%;
  bottom: $margin;
  @include breakpoint(mobile){
    $margin: 20px;
    left: $margin;
    right: $margin;
    top: $margin;
    bottom: $margin;
  }
}
