@font-face {
   font-family: "Graphik-Web";
   src: url("/assets/fonts/Graphik-Regular-Web.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Farnham-Medium";
   src: url("/assets/fonts/Farnham-Display-Medium.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Farnham-Regular";
   src: url("/assets/fonts/Farnham-Display-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}
