@mixin smallSans{
  font-family: $sans !important;
  font-size: 18px !important;
}

@mixin smallSerif{
  font-size: 18px !important;
  font-family: 'Farnham-Medium', Serif !important;
}

@mixin smallCaps {
  @include smallSans;
  text-transform: uppercase;
  font-size: 12px !important;
  letter-spacing: 2px;
}
